{% extends "DanteRebirth/header.html" %}
{% block content %}
<html>
<table class="table table-bordered table-hover">
	<tr>
		<td>18 JANUARY 2019</td>
		<td>ROCK ON THE LAWNS</td>
		<td>JOHANNESBURG, SOUTH AFRICA</td>
		<td><button id="resetCart" class= "btn btn-light btn-sm">BOOK NOW</button> <br></td>
	</tr>
	<tr>
		<td>12 JANUARY 2019</td>
		<td>ROCK ON THE LAWNS</td>
		<td>CAPE TOWN, SOUTH AFRICA</td>
		<td><button id="resetCart" class= "btn btn-light btn-sm">BOOK NOW</button> <br></td>
	</tr>
	<tr>
		<td>02 FEBRUARY 2019</td>
		<td>THE CASTLE</td>
		<td>DUBLIN, IRELAND</td>
		<td><button id="resetCart" class= "btn btn-light btn-sm">BOOK NOW</button> <br></td>
	</tr>
	<tr>
		<td>06 FEBRUARY 2019</td>
		<td>MALAHIDE PALACE</td>
		<td>BERLIN, GERMANY</td>
		<td><button id="resetCart" class= "btn btn-light btn-sm">BOOK NOW</button> <br></td>
	</tr>
	<tr>
		<td>01 MARCH 2019</td>
		<td>HEINEKEN STADIUM</td>
		<td>LONDON, ENGLAND</td>
		<td><button id="resetCart" class= "btn btn-light btn-sm">BOOK NOW</button> <br></td>
	</tr>
</table>
</html>



{% endblock %}