{% extends "DanteRebirth/header.html" %}
{% block content %}
<p style = "margin-left: 34%">Your favourite band is back for more.<br> Get your tickets <a href="/gigs/" style="color:black; text-decoration: none"> now</a> for their world tour.<br> Learn more about the best band in the world. <br>Check out the raging fan site. <br> Vote for your favourite band member. <br> Blog about your passion for the band.<br><br>Finally...<br><br>

I would say I'm sorry<br>
If I thought that it would change your mind<br>
But I know that this time<br>
I've said too much, been too unkind<br>

I tried to laugh about it<br>
Cover it all up with lies<br>
I tried to laugh about it<br>
Hiding the tears in my eyes<br>
Cause boys don't cry<br>
Boys don't cry</p>

{% endblock %}