{% extends "DanteRebirth/header.html" %}
<link rel="stylesheet" href="static/DanteRebirth/band.css" type="text/css">
{% block content %}
<h4>ALBUMS</h4><br>
        
            <div class="row">
                <div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/A1.jpg" alt="image alt text" alt="Boys Don't Cry" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Mind Control</a>
                        <br>
                        <h3>R489</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button>
                </div>
              	<div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/A2.jpg" alt="Party On" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Vortex</a>
                        <br>
                        <h3>R489</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button> 
            	</div>    
                <div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/A3.jpg" alt="Party On" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Chaos</a>
                        <br>
                        <h3>R489</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button> 
            	</div> 
            </div>
                <br><br>
        <h4>HOODIES</h4><br>
        <!--LED-->
            <div class="row">
                <div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/h1.jpg" alt="image alt text" alt="Boys Don't Cry" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Napalm</a>
                        <br>
                        <h3>R389</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button>
                </div>
            <!--mixer new row-->
            	<div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/h2.jpg" alt="Party On" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Fire Now</a>
                        <br>
                        <h3>R389</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button> 
            	</div>
            	<div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/h3.jpg" alt="Party On" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Sweat Blood</a>
                        <br>
                        <h3>R389</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button> 
            	</div>
            </div>
                
            <br><br>
        <h4>T-SHIRTS</h4><br>
        <!--LED-->
            <div class="row">
                <div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/t1.jpg" alt="image alt text" alt="Boys Don't Cry" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Boys Don't Cry</a>
                        <br>
                        <h3>R289</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button>
                </div>
            <!--mixer new row-->
            	<div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/t2.jpg" alt="Party On" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Party On</a>
                        <br>
                        <h3>R289</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button> 
            	</div>
            	<div class="col-4">
                      <a href=#>
                        <img src ="/static/DanteRebirth/img/t3.jpg" alt="Party On" class="img-thumbnail img-fluid shadow p-3 mb-4 bg-white rounded"><br>Sweet Beat</a>
                        <br>
                        <h3>R289</h3> 
                        <button value="" class = "cartbutton">Quick add to cart</button> 
            	</div>
            </div>
        <br><br>

{% endblock %}